
body {
    background-image: url("../img/backgrounds/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    display: flex;
    justify-content: center;
}

#SkillTreeContainer {
    background-color: rgba(0,0,0,.8);
    float: left;
    user-select: none;
    width: 75%;
    min-width: 600px;
}

#DetailsWindow {
    background-color: black;
    opacity: 0.8;
    width: 335px;
    height: 798px;
}

    #DetailsWindow h2, h3, p {
        padding-left: 25px;
        padding-right: 25px;
        color: ghostwhite;
    }

    #DetailsWindow a {
        padding-left: 25px;
        font-weight: bold;
        color: orange;
    }

        #DetailsWindow a:hover {
            color: yellow;
        }

#TxtSave {
    position: absolute;
}

.skillTreeHeader {
    position: absolute;
    top: 0px;
    margin-top: 10px;
    color: ghostwhite;
    font-weight: lighter;
    /*text-decoration: underline;*/
    font-size: 32px;
}

.skillTree {
    position: relative;
    width: 25%;
    height: 798px;
    float: left;
    display: flex;
    justify-content: space-evenly;
    background: center center;
    background-size: cover;
}

.rankIndicator {
    color: ghostwhite;
    font-weight: bold;
    background-image: url("../img/backgrounds/rank.png");
    width: 63px;
    height: 30px;
    position: absolute;
    bottom: -28px;
}

    .rankIndicator div {
        padding: 10% 0;
        text-align: center;
    }

    .rankIndicator.hidden {
        visibility: hidden;
    }

#CombatSkillTree {
    background-image: url("../img/backgrounds/skill_bg_combat.png");
}

#SupportSkillTree {
    background-image: url("../img/backgrounds/skill_bg_support.png");
}

#SurvivalSkillTree {
    background-image: url("../img/backgrounds/skill_bg_survival.png");
}

#TechSkillTree {
    background-image: url("../img/backgrounds/skill_bg_tech.png");
}


.path {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url("../img/backgrounds/line.png");
    background-position: center;
    background-repeat: repeat-y;
}

.skillNode {
    margin: 0 auto;
    width: 61px;
    height: 61px;
    background-repeat: no-repeat;
    background-position: center;
    /* Needed so the rank counter is centered*/
    position: relative;
    display: flex;
    justify-content: space-around;
}

.combat {
    background-image: url("../img/skillNodes/nodeCombatUnlocked.png");
}

    .combat:hover {
        background-image: url("../img/skillNodes/nodeCombatHover.png");
    }

    .combat.active {
        background-image: url("../img/skillNodes/nodeCombat.png");
    }

        .combat.active:hover {
            background-image: url("../img/skillNodes/nodeCombat.png");
        }

.support {
    background-image: url("../img/skillNodes/nodeSupportUnlocked.png");
}

    .support:hover {
        background-image: url("../img/skillNodes/nodeSupportHover.png");
    }

    .support.active {
        background-image: url("../img/skillNodes/nodeSupport.png");
    }

        .support.active:hover {
            background-image: url("../img/skillNodes/nodeSupport.png");
        }

.survival {
    background-image: url("../img/skillNodes/nodeSurvivalUnlocked.png");
}

    .survival:hover {
        background-image: url("../img/skillNodes/nodeSurvivalHover.png");
    }

    .survival.active {
        background-image: url("../img/skillNodes/nodeSurvival.png");
    }

        .survival.active:hover {
            background-image: url("../img/skillNodes/nodeSurvival.png");
        }

.tech {
    background-image: url("../img/skillNodes/nodeTechUnlocked.png");
}

    .tech:hover {
        background-image: url("../img/skillNodes/nodeTechHover.png");
    }

    .tech.active {
        background-image: url("../img/skillNodes/nodeTech.png");
    }

        .tech.active:hover {
            background-image: url("../img/skillNodes/nodeTech.png");
        }

/* locked must be placed after the normal ones so we overwrite them */
.locked {
    background-image: url("../img/skillNodes/nodeLocked.png");
}

    .locked:hover {
        background-image: url("../img/skillNodes/nodeLocked.png");
    }



.specialization {
    width: 91px;
    height: 91px;
    background-repeat: no-repeat;
    background-position: center;
}

    .specialization.combat {
        background-image: url("../img/skillNodes/specUnlocked.png");
    }

        .specialization.combat:hover {
            background-image: url("../img/skillNodes/specHover.png");
        }

    .specialization.active.combat {
        background-image: url("../img/skillNodes/specIcon.png");
    }

        .specialization.active.combat:hover {
            background-image: url("../img/skillNodes/specActive.png");
        }

    .specialization.support {
        background-image: url("../img/skillNodes/specUnlocked.png");
    }

        .specialization.support:hover {
            background-image: url("../img/skillNodes/specHover.png");
        }

    .specialization.active.support {
        background-image: url("../img/skillNodes/specIcon.png");
    }

        .specialization.active.support:hover {
            background-image: url("../img/skillNodes/specActive.png");
        }

    .specialization.survival {
        background-image: url("../img/skillNodes/specUnlocked.png");
    }

        .specialization.survival:hover {
            background-image: url("../img/skillNodes/specHover.png");
        }

    .specialization.active.survival {
        background-image: url("../img/skillNodes/specIcon.png");
    }

        .specialization.active.survival:hover {
            background-image: url("../img/skillNodes/specActive.png");
        }

    .specialization.tech {
        background-image: url("../img/skillNodes/specUnlocked.png");
    }

        .specialization.tech:hover {
            background-image: url("../img/skillNodes/specHover.png");
        }

    .specialization.active.tech {
        background-image: url("../img/skillNodes/specIcon.png");
    }

        .specialization.active.tech:hover {
            background-image: url("../img/skillNodes/specActive.png");
        }

    /* locked should be placed last*/
    .specialization.locked {
        background-image: url("../img/skillNodes/specLocked.png");
    }

        .specialization.locked:hover {
            background-image: url("../img/skillNodes/specLocked.png");
        }
